- You'll hone your pandas skills by learning how to organize, reshape, and aggregate multiple data sets to answer your specific questions. 
- Pandas: Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure.

##### Pandas is capable of many tasks including:

- Reading/writing many different data formats 
- Selecting subsets of data
- Calculating across rows and down columns 
- Finding and filling missing data 
- Applying operations to independent groups within the data 
- Reshaping data into different forms 
- Combing multiple datasets together 
- Advanced time-series functionality 
- Visualization through matplotlib and seaborn 

Although pandas is very capable, it does not provide functionality for the entire data science pipeline. 
Pandas is typically the intermediate tool used for data exploration and cleaning squashed between data capturing and storage, and data modeling and predicting.

reference: https://pandas.pydata.org/pandas-docs/stable/overview.html

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

In [ ]:
df.iloc[2]

In [ ]:
df.T.loc['Cost']

In [ ]:
df.loc['Store 1','Cost']

In [ ]:
df

In [ ]:
df.loc[['Store 1'],'Cost']

In [ ]:
df.drop('Store 1') # won`t really change the df

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop

In [ ]:
#del copy_df['Name']
df

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
                        'B' : pd.Timestamp('20130102'),
                         'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                       'D' : np.array([3] * 4,dtype='int32'),
                         'E' : pd.Categorical(["test","train","test","train"]),
                        'F' : 'foo' })

In [ ]:
df2.dtypes

In [ ]:
df2.describe()

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by='B',ascending=False)

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc['20130102':'20130104',['A','B']]

In [ ]:
 df.loc['20130102',['A','B']]

In [ ]:
df.loc[dates[0],'A'] #取标量

In [ ]:
df.iloc[[1,2,4],[0,2]] #iloc使用索引标号定位，loc使用索引值定位

In [ ]:
# boolean indexing
df[df.A>0]

In [ ]:
df[df<0] # 基于值选择

In [ ]:
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2[df2['E'].isin(['two','four'])] # isin() for filter

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

In [ ]:
df['F']=s1 # add column( index should be matched )
df

In [ ]:
df.at[dates[0],'A']=0 # update value by label
df

In [ ]:
df.iat[0,1]=1 # setting value by position
df

In [ ]:
df.loc[:,'D'] = np.array([5]*len(df)) # use numpy array setting values 
df

In [ ]:
df.loc['2013-01-04',:] = np.array([1,2,3,4])
df

In [ ]:
df2 = df.copy()
df2[df2>0] = -df2 #  use where to update the value
df2

In [ ]:
##Missing Data
#Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.


df1 = df.reindex(index=dates[0:4],columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

In [ ]:
#To drop any rows that have missing data. not really
df2 = df1.dropna(how='any')
df2

In [ ]:
df2 = df1.fillna(value= 5)
df2

In [ ]:
df2[df2>0] = 0
df2

In [ ]:
df2.loc['20130103',:] = None

In [ ]:
pd.isna(df1)

In [ ]:
# Operations

df.mean()

In [ ]:
df.mean(1) # 选择axis=0 or 1

In [ ]:
s=pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)
#.shift(n) Shift index by desired number of periods with an optional time freq
s

In [ ]:
df.sub(s,axis='index')

In [ ]:
df.apply(np.cumsum) #np.cumsum Return the cumulative sum of the elements along a given axis.

In [ ]:
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()
purchase_1

查看训练数据

In [ ]:
df = pd.read_csv('house-prices-advanced-regression-techniques/train.csv')
df.head()

In [ ]:
df.columns

In [ ]:
df['SalePrice']>0

In [ ]:
only_SalePrice = df.where(df['SalePrice']>0)
only_SalePrice.head()
#only_SalePrice['SalePrice'].count()

In [ ]:
df.index

In [ ]:
df2=df.loc[:,['Id','SalePrice','Street']]

In [ ]:
df2.where(df2['SalePrice']>100000).dropna()

In [ ]:
len(df[(df['SalePrice'] > 0) | (df['SalePrice'] < 0)])

In [ ]:
df[(df['SalePrice'] > 0) & (df['SalePrice'] == 0)]

In [ ]:
### indexing DataFrames
#df['SalePrice']=df.index #make that column to be serial numbers 
df = df.set_index('SalePrice') # just choose column to be index column
df.head()

In [ ]:
#df = df.reset_index() #恢复主键
df.head()

In [ ]:
df = pd.read_csv('titanic/train.csv')
df.head()

In [ ]:
df['Age'].unique()

In [ ]:
df = df[(df['Age']==50)]
df.head()

In [ ]:
### 3.2 Pandas: Missing Values
df = pd.read_csv('titanic/train.csv')
df.head()

In [ ]:
#df= df.set_index('PassengerId')
#df = df.sort_index()
df.head()

In [ ]:
df = df.reset_index()
df = df.set_index(['PassengerId','Survived'])# multi fields index 
df.head()

In [ ]:
df = df.fillna(method='ffill') 

#df.fillna
'''
可以直接写替换的值，
也可以用字典填充 e.g.{0:10,1:20,2:30}
method参数的取值 ： {‘pad’, ‘ffill’,‘backfill’, ‘bfill’, None}, default None

pad/ffill：用前一个非缺失值去填充该缺失值

backfill/bfill：用下一个非缺失值填充该缺失值

limit参数可以设置填充值的最大个数
axis=0按列填充，axis=1按行填充
'''
df.head()

In [280]:
### 3-3 Pandas : Merging Dataframes

df = pd.DataFrame([{'Name': 'MJ', 'Item Purchased': 'Sponge', 'Cost': 22.50},
                   {'Name': 'Kevyn', 'Item Purchased': 'Kitty Litter', 'Cost': 2.50},
                   {'Name': 'Filip', 'Item Purchased': 'Spoon', 'Cost': 5.00}],
                  index=['Store 1', 'Store 1', 'Store 2'])
df

         Cost Item Purchased   Name
Store 1  22.5         Sponge     MJ
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0          Spoon  Filip

In [281]:
df['Date'] = ['December 1', 'January 1', 'mid-May']
df

         Cost Item Purchased   Name        Date
Store 1  22.5         Sponge     MJ  December 1
Store 1   2.5   Kitty Litter  Kevyn   January 1
Store 2   5.0          Spoon  Filip     mid-May

In [285]:
df['Delivered']= True
df['Feedback'] = ['Positive', None, 'Negative']
df

         Cost Item Purchased   Name        Date  Delivered  Feedback
Store 1  22.5         Sponge     MJ  December 1       True  Positive
Store 1   2.5   Kitty Litter  Kevyn   January 1       True      None
Store 2   5.0          Spoon  Filip     mid-May       True  Negative

In [292]:
adf = df.reset_index()
adf['Date'] = pd.Series({0:'December 1', 2: 'mid-May'}) # 一维的是series，二维的是dataframe
adf

     index  Cost Item Purchased   Name        Date  Delivered  Feedback
0  Store 1  22.5         Sponge     MJ  December 1       True  Positive
1  Store 1   2.5   Kitty Litter  Kevyn         NaN       True      None
2  Store 2   5.0          Spoon  Filip     mid-May       True  Negative

In [293]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df.head())
print()
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

            School
Name
James     Business
Mike           Law
Sally  Engineering

#### pd.merge
https://blog.csdn.net/brucewong0516/article/details/82707492

In [300]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True，indicator=True)

SyntaxError: invalid character in identifier (<ipython-input-300-b78839cd7e4c>, line 1)