In [ ]:
'''
约瑟夫问题
'''

def move(man,sep):
    '''
    man list leftwards move to sep units, the first element on the left added to the tail of the list.
    '''
    for i in range(sep):
        item = man.pop(0)
        man.append(item)

def play(man,seq,rest):
    '''
    man = men count
    seq = sequence to kill
    rest = survivors number
    
    '''
    print('{}men in total, the {}rd one will be eliminated, survivors are {}'.format(man,seq,rest))
    man = [i for i in range(1,man+1)]
    seq -= 1
    while len(man)>rest:
        move(man,seq)
        print('eliminated', man.pop(0))
    return man
survivor = play(41,3,2)
print(survivor)

In [25]:
'''Map,filter,reduce'''
from functools import reduce
s= [1,2,3]
k= map(lambda x:x+1,s)
print(list(k))

l = filter(lambda x:x%3,s)
print(list(l))

r = reduce(lambda x,y:x+y,[1,2,3])
print(list(r))

[2, 3, 4]
[1, 2]

TypeError: 'int' object is not iterable

In [30]:
class PubAndPri:
    pub = "this is public"
    __pri = "this is private"
    
    def __init__(self):
        self.other = "pub variable can be created "
    def out_pub(self):
        print("public method", self.pub , self.__pri)
    def __out_pri(self):
        print("private method", self.pub, self.__pri)

pp = PubAndPri()
pp.out_pub()
print(pp.pub, pp.other)
try:
    pp.out_pri()
except Exception as e:
    print("use private func has error")
finally:
    print()
try:
    print(pp.__pri)
except Exception as e:
    print("use private variable has error")
finally:
    print()

public method this is public this is private
this is public pub variable can be created
use private func has error

use private variable has error

### 2.5 数据分析
#### 2.5.1 重复值处理 drop_duplicates(self,subset,keep)

In [2]:
import pandas as pd
df = pd.DataFrame({'age':pd.Series([26,85,64,85,85]),
                   'name':pd.Series(['Ben','John','Jerry','John','John'])})
df.iloc[1,1]='Johns'
df.iloc[4,1]='Eric'
df
df_dedup = df.drop_duplicates(['age'],keep='last')
df_dedup

   age   name
0   26    Ben
2   64  Jerry
4   85   Eric

#### 2.5.2 缺失值处理
- 缺失数据的查找，用isnull,notnull,isna,notna

In [61]:
df = pd.DataFrame({'age':pd.Series([26,85,64,85,85]),
                   'name':pd.Series(['Ben','John ',' Jerry ',' John','John'])})
df.iloc[1,1]=None
#df.iloc[0,2]=NA
df.notnull()
df.isnull()

     age   name
0  False  False
1  False   True
2  False  False
3  False  False
4  False  False

- 缺失数据处理:
    - dropna() 去除数据为空对应行 how='any','all',axis = 0/1
    - df.fillna()

In [12]:
#df.dropna(how='age')
df.iloc[1,1]=None
df.fillna(method='bfill')#后一个数据填充
df.fillna(method='pad')#前一个数据填充
df.fillna(df.mean())#用平均值填充

   age   name
0   26    Ben
1   85  Jerry
2   64  Jerry
3   85   John
4   85   John

In [24]:
import numpy as np

df = pd.DataFrame(np.random.randint(0,10,(1,36)).reshape((6,6)),index = ['A','B','C','D','E','F'])

df

   0  1  2  3  4  5
A  9  7  6  2  0  6
B  8  2  2  9  6  9
C  6  1  8  9  9  5
D  8  7  4  5  2  7
E  6  1  6  9  1  0
F  3  5  5  4  3  5

In [52]:
import pandas as pd
import numpy
#字段抽取 指定位置截取
df['age']= df['age'].astype(str)
generation  = df['age'].str.slice(0,1) # 字符串str（）
generation

0    2
1    8
2    6
3    8
4    8
Name: age, dtype: object

In [60]:
#字段拆分
#split(sep,n,expand=False)
#sep是分隔符
#n是新增列数量
#expand 是否展开成数据框
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1,purchase_2,purchase_3],index = range(1,4))
df
words = df['Item Purchased'].str.split(" ",1,True)
words

       0       1
1    Dog    Food
2  Kitty  Litter
3   Bird    Seed

In [72]:
#基于一定条件记录抽取
'''
df[condition]
compare
scope between[min,max]
null pandas.isnull(column)
character match: str.contains(pattern,na=False),e.g. df[df.title.str.contains('radio'),na=False]
logic : & | not

'''

KeyError: 'the label [John] is not in the [index]'

In [76]:
'''
df.loc[rowlabel,columnlabel]
如果两个参数都是列表，返回的是DataFrame，反之是series

'''
df.loc[1:3,:]

   age     name
1   85     None
2   64   Jerry
3   85     John

In [ ]:
'''
df.iloc[rowindexnumber,columnindexnumber]
iloc = integer location

'''